*,*::before, *::after {
    box-sizing: border-box;
    font-family: montserrat;
}

body {
    background-image: url('../images/starbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    vertical-align: auto;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    color: whitesmoke;
    text-align: center;
    font-size: 5vh;
}

.rules {
    position: absolute;
    top: 90%;
    right: 5px;
    font-weight: bolder;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}

.container {
    height: fit-content;
    width: 90%;
    max-width: 900px;
    border-radius: 50px;
    background-color: whitesmoke; 
    box-shadow: 0 0 10px 2px;
    padding: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px;
    padding: 10px;
    font-weight: bolder;
}

.btn.correct {
    background-color: lightgreen;
    border-color: green;
}

.btn.wrong {
    background-color: pink;
    border-color: red;
}

.btn:hover {
    border-color:black;
    cursor: pointer;
}

.disbtn {
    pointer-events: none;
}

.btn:not(.nohover):hover {
    border-color:black;
    cursor: pointer;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hide {
    display: none;
}

.starquiz {
    color: whitesmoke;
    text-align: center;
    font-size: 10vh;
}